{% trans_default_domain 'FOSUserBundle' %}

<form id="resetPasswordViaMailForm" ng-submit="resetPasswordViaMail('{{ path('fos_user_resetting_reset', {'token': token}) }}', 'POST')" {{ form_enctype(form) }} class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
